<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Acasa - eCofetarie</title>
        <%- include ("../fragmente/head.ejs") %>

    </head>
    
    <%- include ("../fragmente/header.ejs") %>

    <body>
        <main>
            <section id="Salut">
                <h2>ERROR - Page not found!</h2>
                <p>Error 404 - page accessed not found!</p>
            </section>
        </main>

        <%- include ("../fragmente/footer.ejs") %>
        
    </body>
</html>