<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Acasa - eCofetarie</title>
        <%- include ("../fragmente/head.ejs") %>

    </head>
    
    <%- include ("../fragmente/header.ejs") %>

    <body>
        body
        <main>
            <div id="container2">
                <section id="Salut">
                    <h2>TEST PAGE</h2>
                    <p>[H2 paragraph] Bine ai testat.</p>
                </section>
            </div>
        </main>

        <%- include ("../fragmente/footer.ejs") %>
        
    </body>
</html>