html{
    --margine-main_left: 10px;
    --background-color: beige;
    --menu-height: 30px;
    --menu-background-color: rgb(233, 222, 176)
}

body{
    background-color: var(--background-color);
}

@keyframes submenu_animation{
    0%{transform: scaleY(0);}
    20%{transform: scaleY(0.2);}
    40%{transform: scaleY(0.5);}
    60%{transform: scaleX(0.8);}
    100%{transform: scaleX(1);}
}

@keyframes rotate_animation{
    0%{transform: rotate(0deg) scale(1);}
    25%{transform: rotate(90deg) scale(0.5);}
    50%{transform: rotate(180deg) scale(0.8);}
    75%{transform: rotate(270deg) scale(0.5);}
    100%{transform: rotate(360deg) scale(1);}
}


header{
    border-bottom: 1px solid grey;
}

#title{
    text-align: center;
}

#welcome{
    padding: 2px;
}

nav ul{
    padding: 0;
    margin: 0;
}

ul.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

ul.menu li{
    width: 120px;
    list-style-type: none;
    height: var(--menu-height);
    padding-top: 1px;
    background-color: var(--menu-background-color);
    outline: 1px solid black;
    transition: background 0.1s linear, outline 0.02s linear, padding-top 0.02s;
}
ul.menu li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: var(--menu-height);
    color: rgb(33, 77, 4);
    text-decoration:none;
    font-weight: bold;
}
ul.menu li:hover{
    background:rgb(108, 179, 62);
    padding-top: 1px;
    outline: 2px solid rgb(32, 102, 4);
    color: rgb(66, 77, 4);
    /* transition: color 1s linear, background 0.5s linear; */
}

ul.submenu{
    display: none;
    z-index: 2;
    position: relative;
    transform-origin: center 0
}
ul.submenu li:hover{
    background: rgb(214, 241, 59);
    color:rgb(33, 77, 4);
    transition: background 0.3s linear, color 0.1s linear;
}
ul.menu li:hover ul.submenu{
    display: block;
    padding: 7px 0px 4px 0px;
    transition: color 0.5s linear;
    animation: submenu_animation 0.3s 1 linear;
}
ul.menu li:hover ul.submenu li{
    color:rgb(233, 222, 176);
    margin-bottom: 5px;
}

div#rotator{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
#rotating-buttercake{
    animation-play-state: paused;
}
#rotating-buttercake:hover{
    animation: rotate_animation 4s infinite running linear;
    /* animation-play-state: running; */
}

#buttercake_pic{
    border-radius: 5px;
}

main{
    background-color: aliceblue;
    margin-left: var(--margine-main_left);
    margin-right: 10px;
    padding-left: 1px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}

section{
    outline: 1px solid magenta;
}

p.c1{
    color: red;
}

#container1{
    display: grid;
    grid-template-areas:    "video1 video2"
                            "rotating-images rotating-images";
    grid-template-columns: 1.5fr 1.5fr;
    padding-left: 2px;
    background-color:  rgb(250, 216, 177);
}
#video1{
    grid-area: video1;
    padding-left: 10px;
}
#video2{
    grid-area: video2;
    padding-left: 10px;
}
#rotating-images{
    grid-area: rotating-images;
    padding-left: 0px;
    outline: 0px solid;
    text-align: center;
}

#container2{
    display: grid;
    grid-template-areas:    "Salut Salut"
                            "Promotii Promotii";
    grid-template-columns: 1fr 1fr;
}
#Salut{
    grid-area: Salut;
    padding-left: 3px;
}
#Promotii{
    grid-area: Promotii;
    padding-left: 3px;
}

#check-menu{
    display: none;
}
#menu-icon{
    display: none;
}
@media screen and (max-width: 1200px) {
    ul.menu{
        display: none;
        position: absolute;
        left: 0;
        top: var(--menu-height);
    }

    #menu-icon{
        height: var(--menu-height);
        display: inline-block;
    }

    nav{
        position: relative;
        height: var(--menu-height);
    }
    #check-menu{
        display: none;
    }
    #check-menu:checked~ul.menu{
        display: block;
        width: 30%;
        animation: submenu_animation 0.5s 1 linear;
        /* flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: left; */
    }
    ul.menu li{
        width: 100%;
    }
    nav{
        background-color: var(--menu-background-color);
    }

    #container1{
        display: grid;
        grid-template-areas:    "video1"
                                "video2";
        grid-template-columns: 1fr;
        padding-left: 2px;
        background-color:  rgb(250, 216, 177);
    }
    #container2{
        display: grid;
        grid-template-areas:    "Salut"
                                "Promotii";
        grid-template-columns: 1fr;
        padding-left: 2px;
    }
    #Salut{
        grid-area: Salut;
        padding-left: 51px;
        padding-right: 51px;
    }
    #Promotii{
        grid-area: Promotii;
        padding-left: 51px;
        padding-right: 51px;
    }
}