<footer>
    <section id="Footer">
        <h2>Footer</h2>
        <section id="contact">
            <h3>Contact</h3>
            <p id="contact_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti error consequuntur temporibus eveniet assumenda non laborum dolorum molestiae quos aspernatur nostrum sit sint, dolorem voluptas, magnam aliquam? Consequuntur, eveniet tempora.</p>
            <ul>
                <li><b>E-mail</b>: <i>contact@prajiturie.ro</i></li>
                <li><b>Phone</b>: <i>(+40) 766-941-094</i></li>
                <li><b>Address</b>: <i>20004 Pennsylvania Ave Nw</i></li>
            </ul>
        </section>
        <p><a href="#welcome">Back to top</a></p>
    </section>
</footer>