<header>
    <h1 id="title">eCofetarie</h1>
    <nav>
        <label for="check-menu"><img id="menu-icon" src="./resurse/imagini/hamburger.png"></label>
        <input type="checkbox" id="check-menu"/>
        <!-- <ul class="menu" style="position: fixed; top:0; left:0;"> -->
        <ul class="menu">
            <li>
                <a href="index">Acasa</a>
                <ul class="submenu">
                    <li><a href="#Salut">Salut (H2)</a></li>
                    <li><a href="#video1">Video 1</a></li>
                    <li><a href="#video2">Video 2</a></li>
                    <li><a href="#Promotii">Promotii</a></li>
                    <li><a href="#Footer">Footer</a></li>
                </ul>
            </li>
            <li><a href="about">Despre</a></li>
            <li><a href="images">Imagini</a></li>
        </ul>
    </nav>
</header>

<br/><br/><br/>