:root {
    --visited-link-color: #6A3BFF; 
    --button-bg-color: #8A5CFF;
    --button-hover-bg-color: #fd88ff;
}

.fancy-hr {
    position: relative;
    border: none;
    height: 15px;
    background: linear-gradient(to right, transparent 0%, transparent 5%, #000 8%, #000 45%, transparent 47%, transparent 53%, #000 55%, #000 93%, transparent 95%, transparent 100%);
    border-radius: 5px;
    margin: 20px 0;
}

.fancy-hr::before {
    content: '*';
    position: absolute;
    /* top: -10px;  */
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 15px; /* Small space around the star */
    font-size: 2em;
    font-weight: bold;
    color: #000;
}

a:visited:not(.menu a) {
    color: var(--visited-link-color);
}
a[href^="http"]:not(.menu a)::before {
    font-size: 1.5em;
    color: #8A5CFF; 
    transition: color 0.3s ease;
}
a[href^="http"]:hover:not(.menu a)::before {
    color: #6A3BFF;
}
a:not(.menu a) {
    position: relative;
    overflow: hidden;
    color: #8A5CFF;
    text-decoration: none;
}
a:not(.menu a)::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: radial-gradient(circle, rgba(106, 59, 255, 0.4) 0%, rgba(106, 59, 255, 0.4) 40%, transparent 80%, transparent 100%);
    transition: width 0.3s ease, height 0.3s ease;
    border-radius: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
}

a:hover:not(.menu a)::before {
    width: 120%;
    height: 110%;
}
a span {
    position: relative;
    z-index: 10;
}
